// COLORS:
$color-primary: #000;

// Yellow colors:
$color-yellow-1: #FAE03C;

// Green colors:
$color-green-1: #006E6D;

// Grey colors:
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// --Black and White:
$color-white: #fff;
$color-black: #000;

// FONTS:
$font-heading: 'Ubuntu', sans-serif; 
$font-paragraph: 'PT Sans', sans-serif;