*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
The root font size decides the rem calculation,
10px root font-size gives the other px values
a rem value devided by 10. So 40px = 4rem
percentage calculation:
default browser font is 16px
10 / 16 = 0.625 = 62.5%
*/
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  padding: 1rem; }

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

.heading-primary {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #000;
  margin-bottom: 1rem; }

.header {
  height: 10vh;
  background-color: #FAE03C;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-self: end;
  align-self: end;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 1rem; }

.navigation {
  text-align: right; }

.eventsform {
  text-align: center; }
